{% extends '_default/page.html.twig' %}
{% block bodyclass %}
    {{ parent() }}
    is-page is-impressions
{% endblock %}

{% block content %}
    <h1 class="page-title">{{ page.title }}</h1>
    {{ page.content }}
    <div class="impressions">
        {% for image in site.data.impressions %}
            <figure class="impression-wrapper">
                <a class="impression-link glightbox" href="/images/impressionen/{{image.url}}.jpg" title="{{image.title}}" data-title="{{image.title}}" data-description="{{image.description}}" data-type="image" data-effect="fade" data-width="900px" data-height="auto">
                    <div class="impression">
                        <img class="impression-image" src="/images/impressionen/{{image.url}}-thumb.jpg" alt="{{image.title}}" title="{{image.title}}">
                    </div>
                    <figcaption class="impression-caption">{{image.title}}</figcaption>
                </a>
            </figure>
        {% endfor %}
    </div>
{% endblock %}
