{% extends '_default/page.html.twig' %}
{% block bodyclass %}
    {{ parent() }}
    is-page is-home
{% endblock %}
{% block contentwrapper %}
    <main id="content" role="main">
        {% block content %}
            <article class="hero">
                <h1 class="text">
                    <strong class="headline">Elisabeth wünscht Sie herzlich willkommen in der Speisekammer.</strong>
                    <span class="subline">Wir sind das Zuhause des Geschmacks von frischen Zutaten sowie herzhaften Aromen.</span>
                </h1>
            </article>
            <div class="content-wrapper">
                <article class"intro">
                    {{ page.content }}
                </article>
                {% include 'partials/site-sidebar.html.twig' %}
            </div>
        {% endblock %}
    </main>

    <input class="modal-state" id="modal-1" type="checkbox" checked="checked"/>
    <div class="modal">
        <label class="modal-bg" for="modal-1"></label>
        <div class="modal-inner">
            <label class="modal-close" for="modal-1"></label>
            <h2>Wichtiger Hinweis zur aktuellen Situation:</h2>
            <p>Ich bieten Ihnen ab sofort Lieferung sowie Abholung von 12:00 Uhr bis 21:00 Uhr an und freuen mich mit Ihnen diese ungewöhnliche Zeit zu Überstehen!</p>
            <p>Am Dienstag ruhe ich mich aus.</p>
        </div>
    </div>
{% endblock %}
