{% extends '_default/page.html.twig' %}
{% block bodyclass %}
    {{ parent() }}
    is-page is-menucard
{% endblock %}
{% block content %}
    <h1 class="menucard-mainheadline page-title sr-only">{{ site.data.menuc.title }}</h1>
    {% for type in site.data.menuc.items %}
        <div class="{{ type.type }}">
            <h2 class="menucard-typetitle">{{ type.title }}</h2>
            {% for category in type.items %}
                <h3 class="menucard-category">{{ category.title }}</h3>
                <ul class="menucard-list">
                    {% for item in category.items %}
                        {% if item.subcategorytitle %}
                            <li class="menucard-item">
                                <h4 class="menucard-subcategory">{{ item.subcategorytitle }}</h4>
                                <ul class="menucard-list">
                                    {% for subitem in item.items %}
                                        <li class="menucard-subitem">
                                            {% if subitem.specialheadline %}
                                                <span class="menucard-specialheadline">{{ subitem.specialheadline }}</span>
                                            {% endif %}
                                            <span class="menucard-titlewrapper">
                                                {% if subitem.title %}
                                                    <span class="menucard-itemtitle">{{ subitem.title }}
                                                        {% if subitem.additionalinfo %}
                                                            <span class="menucard-additionalinfo">{{ subitem.additionalinfo }}</span>
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                                {% if subitem.size %}
                                                    <span class="menucard-size">{{ subitem.size }}</span>
                                                {% endif %}
                                                {% if subitem.price %}
                                                    <span class="menucard-price">{{ subitem.price }}
                                                        €</span>
                                                {% endif %}
                                            </span>
                                            {% if subitem.from %}
                                                <span class="menucard-from">{{ subitem.from }}</span>
                                            {% endif %}
                                            {% if subitem.description %}
                                                <span class="menucard-description">{{ subitem.description }}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="menucard-item">
                                {% if item.specialheadline %}
                                    <span class="menucard-specialheadline">{{ item.specialheadline }}</span>
                                {% endif %}
                                <span class="menucard-titlewrapper">
                                    {% if item.title %}
                                        <span class="menucard-itemtitle">{{ item.title }}
                                            {% if item.additionalinfo %}
                                                <span class="menucard-additionalinfo">{{ item.additionalinfo }}</span>
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if item.size %}
                                        <span class="menucard-size">{{ item.size }}</span>
                                    {% endif %}
                                    {% if item.price %}
                                        <span class="menucard-price">{{ item.price }}
                                            €</span>
                                    {% endif %}
                                </span>
                                {% if item.description %}
                                    <span class="menucard-description">{{ item.description }}</span>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endfor %}
    {{ page.content }}
{% endblock %}
