{% extends '_default/page.html.twig' %}
{% block bodyclass %}
    {{ parent() }}
    is-page is-reservation
{% endblock %}

{% block content %}
    {{ page.content }}
    <form name="contact" action="/kontakt-danke" netlify>
        <fieldset>
            <div>
                <label for="name">Name</label>
                <input type="text" placeholder="Vorname, Nachname" name="name" id="name" required>
            </div>
        </fieldset>
        <fieldset class="contact">
            <div>
                <label for="email">E-Mail</label>
                <input type="email" placeholder="E-Mail" name="email" id="email" required>
            </div>
            <div>
                <label for="phone">Telefon</label>
                <input type="tel" placeholder="Telefon" name="phone" id="phone" required>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <label for="title">Betreff</label>
                <input type="text" id="title" name="title" placeholder="Betreff">
            </div>
            <div>
                <label for="message">Nachricht</label>
                <textarea id="message" name="message" placeholder="Ihre Nachricht an unser Team" required></textarea>
            </div>
        </fieldset>
        <div>
            <input type="checkbox" id="checkbox" name="checkbox" required>
            <label for="checkbox">Ich bin mit der Übermittelung der Daten einverstanden</label>
            <p>Für weitere Informationen siehe
                <a href="/datenschutz">Datenschutzhinweis</a>.
            </p>
        </div>
        <button type="submit" class="is-secondary">Absenden</button>
    </form>
{% endblock %}
