{% extends '_default/page.html.twig' %}
{% block bodyclass %}
    {{ parent() }}
    is-page is-menucard
{% endblock %}
{% block content %}
    <h1 class="menucard-mainheadline page-title">{{ site.data.menuo.title }}</h1>
    <div class="food">
        <ul class="menucard-list">
            {% for item in site.data.menuo.items %}
                <li class="menucard-item">
                    <span class="menucard-titlewrapper">
                        {% if item.title %}
                            <span class="menucard-itemtitle">
                                {{ item.title }}
                                {% if item.additionalinfo %}
                                    <span class="menucard-additionalinfo">{{ item.additionalinfo }}</span>
                                {% endif %}
                            </span>
                        {% endif %}
                        {% if item.price %}
                            <span class="menucard-price">{{ item.price }} €</span>
                        {% endif %}
                    </span>
                    {% if item.description %}
                        <span class="menucard-description">{{ item.description }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {{ page.content }}
{% endblock %}
