{% extends '_default/page.html.twig' %}
{% block bodyclass %}
    {{ parent() }}
    is-page is-reservation
{% endblock %}

{% block content %}
    {{ page.content }}
    <form name="reservierung" action="/reservierung-danke" netlify>
        <fieldset>
            <div>
                <label for="name">Name</label>
                <input type="text" placeholder="Vorname, Nachname" name="name" id="name" required>
            </div>
        </fieldset>
        <fieldset class="contact">
            <div>
                <label for="email">E-Mail</label>
                <input type="email" placeholder="E-Mail" name="email" id="email" required>
            </div>
            <div>
                <label for="phone">Telefon</label>
                <input type="tel" placeholder="Telefon" name="phone" id="phone" required>
            </div>
        </fieldset>
        <fieldset class="reg">
            <div>
                <label for="persons">Personen</label>
                <input type="number" placeholder="Anzahl Personen" name="persons" id="persons" min="1" required>
            </div>
            <div>
                <label for="date">Datum</label>
                <input type="date" name="date" id="date" min="{{ 'now'|date('Y-m-d') }}" max="{{ ('+4 months')|date('Y-m-d') }}" required>
            </div>
            <div>
                <label for="time">Uhrzeit</label>
                <input type="time" placeholder="17:00" name="time" id="time" min="11:30" max="21:00" required>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <label for="message">Zusätzliche Nachricht</label>
                <textarea id="message" name="message" placeholder="Haben sie eine zusätzliche Nachricht an unser Team?"></textarea>
            </div>
        </fieldset>
        <div>
            <input type="checkbox" id="checkbox" name="checkbox" required>
            <label for="checkbox">Ich bin mit der Übermittelung der Daten einverstanden</label>
            <p>Für weitere Informationen siehe
                <a href="/datenschutz">Datenschutzhinweis</a>.
            </p>
        </div>
        <button type="submit" class="is-secondary">Absenden</button>
    </form>
{% endblock %}
