<meta charset="UTF-8">

<title>
    {% block title %}{{ site.title }} - {{ page.title }}
    {% endblock title %}
</title>

{% include 'partials/metadata.html.twig' %}
<link href="/style.css" type="text/css" rel="stylesheet">
{% include 'partials/icons.html.twig' %}
