<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

<meta name="description" content="{{ site.description }}">

<meta property="og:title" content="{{ site.title }}">
<meta property="og:locale" content="de">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="{{ url() }}">
<meta property="og:site_name" content="{{ site.title }}">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#000000">
