<style>
    #loader {
        opacity: 0;
        height: 0;
        width: 100%;
        display: flex;
        pointer-events: none;
        background-color: #EBE3E0;
        background-color: var(--brand-secondary);
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity 0.5s ease-in-out, height 0s ease-in-out 0.5s;
        justify-content: center;
        align-items: center
    }
    #loader.loading {
        opacity: 1;
        height: 100vh
    }
    .lds-ripple {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ripple div {
        position: absolute;
        border: 4px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
        0% {
            top: 36px;
            left: 36px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: 0;
            left: 0;
            width: 72px;
            height: 72px;
            opacity: 0;
        }
    }

    .no-js #loader {
        display: none
    }
</style>

<div id="loader" class="loading">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>
