<div class="logo">
    <a class="logo-link" href="/">
        <div class="logo-inner">{{site.titletop}}</div>
        <div class="logo-slogan">{{site.titlesub}}</div>
        <svg class="logo-gfx" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 256">
            <g fill="currentColor"><path fill-rule="evenodd" d="M155 240a112 112 0 11-224 0 112 112 0 01224 0zm-18.7 0a93.3 93.3 0 11-186.6 0 93.3 93.3 0 01186.6 0zM43 324a84 84 0 100-168 84 84 0 000 168z" clip-rule="evenodd"/><path d="M200.9 207.6c6.7-7 11.1-18.6 11.1-32 0-21.3-11.4-38.6-25.5-38.6S161 154.3 161 175.7c0 13.2 4.4 24.9 11 31.8v1.6c-.1.7.2 1.2.9 1.4 2.2.7 7.3 3.2 10.5 11.3 3.5 8.3-3.5 93.3-5.4 114.7a19.5 19.5 0 008.4 17.5c7-4.7 9-12.2 8.5-17.5-1.9-21.4-9-106.4-5.4-114.7 3.2-8 8.3-10.6 10.5-11.3.7-.2 1-.7 1-1.4l-.1-1.5zm-27.4 1.5c-.6-.2-.9-.6-.9-1.3l.1-1.5a43 43 0 01-10.4-29.6c1 14.4 5.4 21.1 11.6 27.8a38 38 0 000 1.4c-.1.7.2 1.1.8 1.3 5.9 4.5 8 8.1 8.8 12.4-3-7.5-8-9.8-10-10.5zm18.9 131.3c.8-3.5.2-10.4.2-10.4s.4 1.3.8 5.4c.4 5-1 11.8-6.7 16.5 4-5 5.1-8.4 5.7-11.5zm6.5-130.6a16 16 0 00-7.6 5.7c3-4.7 6.7-6.6 8.6-7.2 0 .8-.3 1.2-1 1.5zm-14.5-70.5a17 17 0 012.1-.2c13.1 0 23.7 16.1 23.7 36 0 8.3-1.9 16-5 22.1a61.9 61.9 0 003.5-21c0-20.6-10-37-24.3-37zm61.5 197.1c-1-11-3.4-55.7-4-97.4 3.2-42.5.5-89.1 1-96.6.5-8-6-9.3-11.5.8-9.2 16.7-12.6 68.1-1 94.5.2.6.4.8.5 1.4 2.7 12.5-.3 77-2.1 97.3a19.4 19.4 0 008.5 17.6c7-4.7 9.1-12.3 8.6-17.6zM230.4 149s0-1.2 1.4-3.8c3.3-6.5 6.5-8.7 8.8-7.7-2.4 0-4.4 1.9-6.1 4.2a42 42 0 00-4.1 7.3zm3 91.8c-1.4 0-1.8-1.4-1.8-2 0 0 .8.7 1.8.7h7.4c.9 0 .8 1.3 0 1.3h-7.5zm4.2 111.2c4-5 5.2-8.4 5.8-11.5.8-3.6.2-10.4.2-10.4s.4 1.3.8 5.4c.5 5-1 11.8-6.8 16.5z"/></g>
        </svg>
    </a>
</div>
