<nav id="mainnav" class="mainnav" role="navigation" aria-label="Navigation">
    <ul class="mainnav-inner">
        {% for menu in site.menus.main|sortByWeight %}
            <li class="mainnav-item">
                <a id="menu-{{ menu.id }}" weight="{{ menu.weight }}" class="mainnav-link {% if url(page) == url(menu.url) or url(page) == url(menu.url)|trim('/') %} active{% endif %}" href="{{ url(menu.url) }}">{{ menu.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
