@custom-media --MediaSmallWidth (min-width: 320px);
@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

.hero {
    position: relative;

    align-items: center;
    justify-content: center;
    width: 100%;

    max-width: 100%;
    min-height: 22rem;

    overflow: hidden;

    color: var(--black);

    background-image: url("/images/home/hero.jpg");
    background-position: center center;
    background-size: cover;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: var(--normal);
        z-index: 1;

        display: block;

        width: calc(100% - var(--xlarge));
        height: calc(100% - var(--normal));

        background-image: linear-gradient(
            180deg,
            var(--brand-secondary-light) 0%,
            var(--brand-secondary-75) 50%,
            var(--brand-secondary-25) 100%
        );
        mix-blend-mode: lighten;

        content: "";
    }

    &::after {
        position: absolute;
        top: 0;

        display: block;
        width: 100%;
        height: 100%;

        border: 1rem solid var(--brand-secondary-light);
        border-top: 0;

        content: "";
    }

    & .text {
        position: relative;

        top: 0;
        bottom: var(--normal);
        left: var(--normal);
        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - var(--normal) - var(--normal));
        height: calc(100% - var(--normal));

        min-height: calc(100vh - var(--huge) - var(--normal));
        padding: var(--xlarge);

        text-align: center;
        text-shadow: 0 var(--xxsmall) var(--xxsmall) var(--brand-secondary-50);

        border-radius: var(--normal);
        box-shadow: 0px 0px 0px var(--normal) var(--brand-secondary-light);
    }

    & .headline {
        max-width: 30rem;
        margin-top: calc(var(--xlarge) + var(--huge));
        margin-bottom: var(--xlarge);
    }

    & .subline {
        display: block;
        max-width: 36rem;
        margin-bottom: var(--xxlarge);

        font-weight: normal;
    }

    & + .content-wrapper {
        & > article {
            margin-top: var(--normal);
        }

        & > .sidebar {
            margin-top: var(--normal);
        }
    }
}
