.is-menucard .content-innner {
    & .menucard-list {
        padding: 0;
    }

    & .menucard-category {
        font-weight: var(--font-bold-weight);

        & em {
            font-weight: lighter;
        }
    }

    & .menucard-subcategory {
        margin-top: var(--normal);
        margin-bottom: var(--xsmall);

        &::before {
            content: "- ";
        }
    }

    & .menucard-item,
    & .menucard-subitem {
        margin-bottom: var(--xxsmall);
        padding: 0;
    }

    & .menucard-from {
        display: block;
        margin-bottom: var(--xxsmall);
    }

    & .menucard-titlewrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--xxsmall);
        padding-bottom: var(--xxsmall);

        font-weight: var(--font-bold-weight);

        border-bottom: var(--tiny) solid var(--brand-secondary-light);
    }

    & .menucard-itemtitle {
        margin-right: auto;
        padding-right: var(--normal);

        & sup {
            font-weight: lighter;
        }
    }

    & .menucard-additionalinfo {
        font-weight: lighter;
    }

    & .menucard-price,
    & .menucard-size {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: var(--normal);

        white-space: nowrap;
        text-align: right;
    }

    & .menucard-price {
        width: calc(2 * var(--xxlarge));
    }

    & .menucard-size {
        width: var(--huge);

        font-weight: lighter;
        font-style: italic;

        white-space: nowrap;
        text-align: right;
    }

    & .menucard-specialheadline {
        display: block;
        width: 100%;
        margin-bottom: var(--xxsmall);

        font-weight: var(--font-bold-weight);

        font-style: italic;
    }

    & .menucard-description {
        display: block;
        width: 100%;
        padding-bottom: var(--xxsmall);

        font-style: italic;

        border-bottom: var(--tiny) solid var(--brand-secondary-light);
    }

    & .food {
        & .menucard-itemtitle {
            width: calc(100% - calc(2 * var(--xxlarge)));
        }
    }

    & .drinks {
        & .menucard-itemtitle {
            width: calc(100% - calc(2 * var(--xxlarge)) - var(--huge));
        }
    }
}
