@custom-media --MediaSmallWidth (min-width: 320px);
@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

.is-impressions {
    & .impressions {
        display: flex;
        flex-wrap: wrap;
        margin: var(--negative-xsmall);
        margin-top: var(--xsmall);
    }

    & .impression-link {
        padding: var(--normal);
    }

    & .impression {
        position: relative;

        display: block;

        height: 0;
        padding: var(--normal);
        padding-top: 100%;
    }

    & .impression-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: var(--xsmall);

        background-color: var(--brand-secondary);

        border-radius: var(--xxsmall);

        box-shadow: 0 var(--xsmall) var(--xsmall) var(--black-25);

        transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;

        &:hover {
            z-index: 1;

            box-shadow: 0 var(--xxsmall) var(--xsmall) var(--black-50);
            transform: scale(1.1) rotate(-1deg);
        }

        @media (--MediaMediumWidth) {
            width: calc((100% / 2) - var(--normal));
        }

        @media (--MediaLargeWidth) {
            width: 100%;
        }

        @media (--MediaExtraLargeWidth) {
            width: calc((100% / 2) - var(--normal));
        }

        @media (--MediaHugeWidth) {
            width: calc((100% / 3) - var(--normal));
        }
    }

    & .impression-image {
        position: absolute;
        top: 0;

        min-width: 100%;
        min-height: 100%;

        margin-left: var(--negative-normal);
        object-fit: cover;

        border-radius: var(--xxsmall);
    }

    & .impression-caption {
        padding-top: var(--normal);
    }
}
