@custom-media --MediaExtraLargeWidth (min-width: 1024px);

@media (--MediaExtraLargeWidth) {
    .is-reservation {
        & .contact,
        & .reg {
            & div {
                float: left;
            }
        }

        & .contact {
            & div {
                width: calc(50% - var(--xsmall));

                &:first-child {
                    margin-right: var(--normal);
                }
            }
        }

        & .reg {
            & div {
                width: calc((100% / 3) - ((2 * var(--normal)) / 3));
                margin-right: var(--normal);

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
