.ar {
    &-wrapper {
        position: relative;

        max-width: 100%;
        height: 0;
    }

    &-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;

        min-width: 100%;
        min-height: 100%;
    }

    /* stylelint-disable sh-waqar/declaration-use-variable */

    &-16x9 {
        padding-bottom: calc(100% * (9 / 16));
    }

    &-1x1 {
        padding-bottom: 100%;
    }

    &-3x4 {
        padding-bottom: calc(100% * (4 / 3));
    }

    &-4x3 {
        padding-bottom: calc(100% * (3 / 4));
    }

    &-4x6 {
        padding-bottom: calc(100% * (6 / 4));
    }

    &-5x7 {
        padding-bottom: calc(100% * (7 / 5));
    }

    &-5x8 {
        padding-bottom: calc(100% * (8 / 5));
    }

    &-6x4 {
        padding-bottom: calc(100% * (4 / 6));
    }

    &-7x5 {
        padding-bottom: calc(100% * (5 / 7));
    }

    &-8x5 {
        padding-bottom: calc(100% * (5 / 8));
    }

    &-9x16 {
        padding-bottom: calc(100% * (16 / 9));
    }

    /* stylelint-enable sh-waqar/declaration-use-variable */
}
