@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: flex;

    text-align: left;

    visibility: hidden;

    opacity: 0;

    transition: opacity 0.25s ease;
}

.modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin-bottom: 0;

    background: var(--brand-primary-dark);

    cursor: pointer;
    opacity: 0.75;
}

.modal-inner {
    position: relative;

    box-sizing: border-box;

    width: 90%;
    height: 90%;

    margin: auto;
    padding: var(--normal);
    overflow: auto;

    background: var(--brand-secondary);
    border-radius: 5px;

    transition: top 0.25s ease;

    & h2 {
        padding-right: var(--xxlarge);
    }

    @media (--MediaMediumWidth) {
        width: 80%;
        height: auto;
    }

    @media (--MediaLargeWidth) {
        width: 67.5%;
    }

    @media (--MediaExtraLargeWidth) {
        width: 52.5%;
    }

    @media (--MediaHugeWidth) {
        width: 40%;
    }
}

.modal-close {
    &::after,
    &::before {
        position: absolute;
        top: 0;
        left: 50%;

        display: block;
        width: calc(var(--tiny) * 2);
        height: var(--xlarge);
        margin: var(--negative-xxsmall) 0 0 var(--negative-tiny);

        background: var(--brand-primary);
        transform: rotate(45deg);

        content: "";
    }

    &::before {
        transform: rotate(-45deg);
    }

    &:hover {
        &::after,
        &::before {
            background: var(--brand-primary-50);
        }
    }
}

.modal-state {
    display: none;

    &:checked {
        & + .modal {
            visibility: visible;
            opacity: 1;

            & .modal__inner {
                top: 0;
            }

            & .modal-close {
                position: absolute;
                top: var(--normal);
                right: var(--normal);

                width: var(--normal);
                height: var(--normal);

                cursor: pointer;
            }
        }
    }
}
