:root {
    /* folders */
    --font-directory: "/static/fonts/";
    --image-directory: "/static/images/";

    /* :root sizes */

    --ExtraSmallRoot: 14px;
    --SmallRoot: 16px;
    --MediumRoot: 18px;
    --LargeRoot: 20px;
    --ExtraLargeRoot: 22px;
    --HugeRoot: 24px;

    /* sizing */
    --tiny: 1px;
    --xxsmall: 0.25rem;
    --xsmall: 0.5rem;
    --small: 0.75rem;
    --normal: 1rem;
    --large: 1.25rem;
    --xlarge: 1.5rem;
    --xxlarge: 2rem;
    --huge: 3rem;

    /* min-max media */
    --mediamin: 320px;
    --mediamax: 1680px;

    /* negative sizing */
    --negative-tiny: -1px;
    --negative-xxsmall: -0.25rem;
    --negative-xsmall: -0.5rem;
    --negative-small: -0.75rem;
    --negative-normal: -1rem;
    --negative-large: -1.25rem;
    --negative-xlarge: -1.5rem;
    --negative-xxlarge: -2rem;
    --negative-huge: -3rem;

    /* primary color definitions */
    --brand-primary: hsl(10, 30%, 20%);
    --brand-primary-light: hsl(10, 20%, 30%);
    --brand-primary-dark: hsl(10, 40%, 10%);
    --brand-primary-25: hsla(10, 30%, 20%, 25%);
    --brand-primary-50: hsla(10, 30%, 20%, 50%);
    --brand-primary-75: hsla(10, 30%, 20%, 75%);
    --brand-primary-gradient-hor: linear-gradient(
        90deg,
        var(--brand-primary-dark),
        var(--brand-primary-light)
    );
    --brand-primary-gradient-ver: linear-gradient(
        0deg,
        var(--brand-primary-dark),
        var(--brand-primary-light)
    );

    /* secondary color definitions */
    --brand-secondary: hsl(15, 15%, 80%);
    --brand-secondary-light: hsl(15, 20%, 90%);
    --brand-secondary-dark: hsl(15, 20%, 75%);
    --brand-secondary-25: hsla(15, 15%, 80%, 25%);
    --brand-secondary-50: hsla(15, 15%, 80%, 50%);
    --brand-secondary-75: hsla(15, 15%, 80%, 75%);
    --brand-secondary-gradient-ver: linear-gradient(
        90deg,
        var(--brand-secondary-light),
        var(--brand-secondary)
    );
    --brand-secondary-gradient-hor: linear-gradient(
        0deg,
        var(--brand-secondary-light),
        var(--brand-secondary)
    );

    /* tertiary color definitions */
    --brand-tertiary: hsl(60, 70%, 40%);
    --brand-tertiary-light: hsla(60, 60%, 50%, 100%);
    --brand-tertiary-dark: hsla(60, 80%, 30%, 100%);
    --brand-tertiary-25: hsla(60, 70%, 40%, 25%);
    --brand-tertiary-50: hsla(60, 70%, 40%, 50%);
    --brand-tertiary-75: hsla(60, 70%, 40%, 75%);
    --brand-tertiary-gradient-ver: linear-gradient(
        90deg,
        var(--brand-tertiary-light),
        var(--brand-tertiary)
    );
    --brand-tertiary-gradient-hor: linear-gradient(
        0deg,
        var(--brand-tertiary-light),
        var(--brand-tertiary)
    );

    /* quinary color definitions */
    --brand-quinary: hsl(140, 60%, 40%);
    --brand-quinary-light: hsla(140, 50%, 50%, 100%);
    --brand-quinary-dark: hsla(140, 70%, 30%, 100%);
    --brand-quinary-25: hsla(140, 60%, 40%, 25%);
    --brand-quinary-50: hsla(140, 60%, 40%, 50%);
    --brand-quinary-75: hsla(140, 60%, 40%, 75%);
    --brand-quinary-gradient-ver: linear-gradient(
        90deg,
        var(--brand-quinary-light),
        var(--brand-quinary)
    );
    --brand-quinary-gradient-hor: linear-gradient(
        0deg,
        var(--brand-quinary-light),
        var(--brand-quinary)
    );

    /* b/w color definitions */
    --white: hsl(0, 0%, 100%);
    --white-25: hsla(0, 0%, 100%, 25%);
    --white-50: hsla(0, 0%, 100%, 50%);
    --white-75: hsla(0, 0%, 100%, 75%);
    --gray-extra-light: hsl(0, 0%, 95%);
    --gray-extra-light-25: hsla(0, 0%, 95%, 25%);
    --gray-extra-light-50: hsla(0, 0%, 95%, 50%);
    --gray-extra-light-75: hsla(0, 0%, 95%, 75%);
    --gray-light: hsl(0, 0%, 85%);
    --gray-light-25: hsla(0, 0%, 85%, 25%);
    --gray-light-50: hsla(0, 0%, 85%, 50%);
    --gray-light-75: hsla(0, 0%, 85%, 75%);
    --gray: hsl(0, 0%, 75%);
    --gray-25: hsla(0, 0%, 75%, 25%);
    --gray-50: hsla(0, 0%, 75%, 50%);
    --gray-75: hsla(0, 0%, 75%, 75%);
    --gray-dark: hsl(0, 0%, 45%);
    --gray-dark-25: hsla(0, 0%, 45%, 25%);
    --gray-dark-50: hsla(0, 0%, 45%, 50%);
    --gray-dark-75: hsla(0, 0%, 45%, 75%);
    --gray-extra-dark: hsl(0, 0%, 15%);
    --gray-extra-dark-25: hsla(0, 0%, 15%, 25%);
    --gray-extra-dark-50: hsla(0, 0%, 15%, 50%);
    --gray-extra-dark-75: hsla(0, 0%, 15%, 75%);
    --black: hsl(0, 0%, 0%);
    --black-25: hsla(0, 0%, 0%, 25%);
    --black-50: hsla(0, 0%, 0%, 50%);
    --black-75: hsla(0, 0%, 0%, 75%);

    /* highlight color definitions */
    --highlight-success: hsl(150, 70%, 50%);
    --highlight-error: hsl(0, 80%, 60%);
    --highlight-notice: hsl(55, 100%, 50%);
    --highlight-info: hsl(200, 80%, 60%);
    --highlight-success-bg: hsl(150, 50%, 80%);
    --highlight-error-bg: hsl(0, 60%, 90%);
    --highlight-notice-bg: hsl(55, 80%, 80%);
    --highlight-info-bg: hsl(200, 60%, 90%);

    /* colors */
    --body-bg: var(--brand-secondary-light);
    --border-color: var(--brand-secondary-dark);
    --text-color-light: var(--brand-primary-light);
    --text-color: var(--brand-primary);
    --text-color-dark: var(--brand-primary-dark);
    --link-color: black;
    --link-hover-color: rgba(0, 0, 0, 0.7);
    --card-bg: hsla(0, 0%, 100%, 60%);
    --panel-bg: hsla(0, 0%, 100%, 60%);
    --overlay-bg: hsla(0, 0%, 0%, 60%);
    --lighter-overlay-bg: hsla(0, 0%, 0%, 30%);

    /* borders */
    --border-width: var(--tiny);
    --border-color: var(--brand-primary-light);
    --border-style: solid;
    --border: var(--border-width) var(--border-color) var(--border-style);

    /* shadows */
    --base-shadow: 0 var(--xsmall) var(--xsmall) var(--negative-xsmall)
        var(--overlay-bg);
    --base-card-shadow: var(--base-shadow);
    --base-panel-shadow: var(--base-shadow);
    --base-text-shadow: var(--base-shadow);
    --base-button-shadow: var(--base-shadow);
    --form-box-shadow: inset 0 var(--border-width) var(--tiny) var(--overlay-bg);
    --form-box-shadow-focus: var(--form-box-shadow),
        0 0 var(--xxsmall) var(--brand-primary-dark);

    /* font-weight */
    --font-weight--thin: 100;
    --font-weight--extra-light: 200;
    --font-weight--light: 300;
    --font-weight--normal: 400;
    --font-weight--medium: 500;
    --font-weight--semi-bold: 600;
    --font-weight--bold: 700;
    --font-weight--extra-bold: 800;
    --font-weight--black: 900;

    /* base configuration */
    --font-size-base: var(--ExtraSmallRoot);
    --font-base-weight: var(--font-weight--normal);
    --font-light-weight: var(--font-weight--light);
    --font-bold-weight: var(--font-weight--bold);
    --font-base: "Merriweather";
    --font-head: "Merriweather";
    --font-mono: "JetBrains Mono";

    --font-stack-base: var(--font-base), -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-stack-head: var(--font-head), -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-stack-mono: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --font-stack-quote: Cochin, Georgia, "Times New Roman", serif;
    --border-radius: var(--xsmall);

    /* headings */
    --font-size-h1: var(--xlarge);
    --font-size-h2: var(--xlarge);
    --font-size-h3: var(--xlarge);
    --font-size-h4: var(--large);
    --font-size-h5: var(--large);
    --font-size-h6: var(--normal);
    --font-weight-h1: var(--font-bold-weight);
    --font-weight-h2: var(--font-bold-weight);
    --font-weight-h3: var(--font-base-weight);
    --font-weight-h4: var(--font-bold-weight);
    --font-weight-h5: var(--font-base-weight);
    --font-weight-h6: var(--font-base-weight);

    /* buttons general */
    --btn-font-size: var(--normal);
    --btn-icon-size: var(--normal);

    /* button default */
    --btn-default-top-bg: var(--body-bg);
    --btn-default-bottom-bg: var(--gray-light);
    --btn-default-hover-bg: var(--panel-bg);
    --btn-default-text-color: var(--text-color);
    --btn-default-hover-text-color: var(--brand-primary);
    --btn-default-border-color: var(--border-color);
    --btn-default-hover-border-color: var(--brand-primary);

    /* button primary */
    --btn-primary-top-bg: var(--brand-primary-light);
    --btn-primary-bottom-bg: var(--brand-primary);
    --btn-primary-hover-bg: var(--brand-primary);
    --btn-primary-text-color: var(--panel-bg);
    --btn-primary-hover-text-color: var(--btn-primary-text-color);
    --btn-primary-border-color: transparent;
    --btn-primary-hover-border-color: transparent;

    /* button secondary */
    --btn-secondary-top-bg: var(--brand-secondary);
    --btn-secondary-bottom-bg: var(--brand-secondary-dark);
    --btn-secondary-hover-bg: var(--brand-secondary-dark);
    --btn-secondary-text-color: var(--panel-bg);
    --btn-secondary-hover-text-color: var(--btn-secondary-text-color);
    --btn-secondary-border-color: transparent;
    --btn-secondary-hover-border-color: transparent;

    /* button ghost */
    --btn-ghost-top-bg: transparent;
    --btn-ghost-bottom-bg: transparent;
    --btn-ghost-hover-bg: transparent;
    --btn-ghost-text-color: var(--gray-extra-light);
    --btn-ghost-hover-text-color: var(--gray);
    --btn-ghost-border-color: var(--gray-extra-light);
    --btn-ghost-hover-border-color: var(--gray);

    /* panels */
    --panel-header-bg: var(--gray-light);
    --panel-header-font-size: var(--small);
    --panel-header-color: var(--text-color);
    --panel-border: var(--border-color);

    /* cards */
    --card-header-bg: var(--gray-light);
    --card-header-font-size: var(--large);
    --card-header-color: var(--text-color);
    --card-border: var(--border-color);

    /* labels */
    --label-font-size: var(--small);
    --label-color: var(--text-color);

    /* inputs */
    --input-font-size: var(--normal);
    --input-bg: var(--gray-light);
    --input-color: var(--brand-secondary);
    --input-placeholder-color: var(text-color-light);
    --input-border: var(--border-color);
    --input-focus-bg: var(--panel-bg);
    --input-focus-border: var(--brand-primary);
    --input-focus-color: var(--brand-secondary);
    --input-error-bg: var(--highlight-error-bg);
    --input-error-border: var(--highlight-error);
    --input-error-color: var(--highlight-error);
    --input-success-bg: var(--panel-bg);
    --input-success-border: var(--highlight-success);
    --input-success-color: var(--brand-secondary-dark);

    /* tables */
    --panel-table-header-bg: var(--brand-secondary-dark);
    --panel-table-header-color: var(--panel-bg);
    --table-row-bg: var(--panel-bg);
    --table-row-color: var(--brand-secondary-light);
    --table-row-highlight-bg: var(--brand-secondary);
    --table-header-bg: var(--brand-secondary);
    --table-header-color: var(--panel-bg);

    /* badges */
    --badge-discount-bg: var(--highlight-error);
    --badge-discount-color: var(--body-bg);
    --badge-newcomer-bg: var(--highlight-notice);
    --badge-newcomer-color: var(--body-bg);
    --badge-recommendation-bg: var(--highlight-success);
    --badge-recommendation-color: var(--body-bg);
    --badge-download-bg: var(--highlight-info);
    --badge-download-color: var(--body-bg);

    /* focus */
    --focus-outline-width: var(--tiny);
    --focus-outline-offset: var(--xxsmall);
    --focus-outline: var(--focus-outline-width) solid var(--brand-primary);

    /* Animations */
    --duration: 250ms;
    --timing: ease-in-out;
}
