*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

:root {
    box-sizing: border-box;
    margin: 0;

    color: var(--text-color);
    font-weight: var(--font-base-weight);
    font-size: var(--ExtraSmallRoot);
    font-family: var(--font-stack-base);
    line-height: var(--large);
    text-align: left;

    background-color: var(--body-bg);
    -webkit-tap-highlight-color: var(--black);
    text-size-adjust: 100%;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--text-color);
    font-weight: var(--font-base-weight);
    font-size: var(--normal);
    font-family: var(--font-stack-base);
    line-height: var(--xlarge);
    text-align: left;

    background-color: var(--body-bg);
    -webkit-tap-highlight-color: var(--black);
    text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

/* what is going on */

[tabindex="-1"] {
    &:focus {
        &:not(:focus-visible) {
            outline: 0 !important;
        }
    }
}

hr {
    box-sizing: content-box;
    height: 0;
    margin: var(--spacing) 0;
    overflow: visible;

    border-top: 0;
    border-right: 0;
    border-bottom: var(--border);
    border-left: 0;
}

progress {
    vertical-align: baseline;
}

output {
    display: inline-block;
}

details {
    display: block;
}

summary {
    display: list-item;

    cursor: pointer;
}

template {
    display: none;
}
