audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

canvas {
    display: inline-block;
}

img,
picture {
    display: block;
    max-width: 100%;
    margin: 0;
}

img {
    vertical-align: middle;

    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

iframe {
    border-style: none;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

figure {
    margin: 0 0 var(--normal);
}
