ol,
ul,
dl {
    margin: 0 0 var(--normal) 0;

    list-style-position: outside;

    & li {
        padding-left: var(--normal);
    }
}

ul {
    padding-left: var(--normal);

    list-style-type: disc;
}

ol {
    padding-left: var(--xlarge);

    list-style-type: decimal-leading-zero;
}

ul[class],
ol[class] {
    list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin: 0 0 var(--xsmall) 0;
}

dt {
    margin: 0;

    font-weight: var(--font-bold-weight);
}

dd {
    margin: 0 0 var(--xsmall) 0;
}
