button,
button[type="button"],
button[type="reset"],
button[type="submit"],
.btn {
    display: inline-block;
    margin: 0;
    padding: var(--xsmall) var(--xsmall);
    overflow: visible;

    color: var(--text-color);
    font-weight: var(--font-bold-weight);
    font-size: var(--normal);
    font-family: var(--font-stack-base);
    line-height: var(--large);
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    background-color: var(--white);
    border: 0;
    border-radius: var(--border-radius);
    outline: 0;
    cursor: pointer;

    transition: background-color var(--duration) var(--timing);

    appearance: button;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-moz-focus-inner {
        padding: 0;

        border-style: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:hover {
        color: var(--text-color-dark);
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:focus {
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset);
    }

    &:-moz-focusring {
        outline: var(--tiny) dotted ButtonText;
    }

    &.is-ghost {
        color: var(--text-color);

        background-color: var(--white);
        border-color: var(--white);

        &:hover {
            color: var(--text-color-dark);
        }
    }

    &.is-primary {
        color: var(--white);

        background-color: var(--brand-primary);
        border-color: var(--white);

        &:hover {
            color: var(--gray-extra-light);
        }

        &.has-gradient {
            background-image: linear-gradient(
                var(--brand-primary-light),
                var(--brand-primary)
            );

            &:hover {
                background-image: none;
            }
        }
    }

    &.is-secondary {
        color: var(--white);

        background-color: var(--brand-secondary);
        border-color: var(--white);

        &.has-gradient {
            background-image: linear-gradient(
                var(--brand-secondary-light),
                var(--brand-secondary)
            );

            &:hover {
                background-image: none;
            }
        }

        &:hover {
            color: var(--gray-extra-light);

            background-color: var(--brand-secondary-dark);
        }
    }

    &.is-tertiary {
        color: var(--white);

        background-color: var(--brand-tertiary);
        border-color: var(--white);

        &.has-gradient {
            background-image: linear-gradient(
                var(--brand-tertiary-light),
                var(--brand-tertiary)
            );

            &:hover {
                background-image: none;
            }
        }

        &:hover {
            color: var(--gray-extra-light);

            background-color: var(--brand-tertiary-dark);
        }
    }

    &.is-quinary {
        color: var(--white);

        background-color: var(--brand-quinary);
        border-color: var(--white);

        &.has-gradient {
            background-image: linear-gradient(
                var(--brand-quinary-light),
                var(--brand-quinary)
            );

            &:hover {
                background-image: none;
            }
        }

        &:hover {
            color: var(--gray-extra-light);

            background-color: var(--brand-quinary-dark);
        }
    }

    &.is-tiny {
        min-height: var(--xsmall);
        padding: var(--xxsmall);

        font-size: var(--xsmall);
    }

    &.is-small {
        min-height: var(--small);
        padding: var(--xsmall);

        font-size: var(--small);
    }

    &.is-large {
        min-height: var(--xlarge);
        padding: var(--small);

        font-size: var(--xlarge);
    }

    &.is-huge {
        min-height: var(--xxlarge);
        padding: var(--normal);

        font-size: var(--xxlarge);
    }
}
