@custom-media --MediaSmallWidth (min-width: 320px);
@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

.mainhead {
    position: fixed;
    top: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--huge);

    background-color: var(--brand-secondary);
    box-shadow: var(--base-shadow);

    transition: opacity 0.5s ease-in-out;

    &.fade-out {
        opacity: 0.8;
    }

    & .content-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: var(--mediamax);
        padding-right: var(--normal);
        padding-left: var(--normal);
    }

    & .mainnav,
    & .logo {
        display: flex;
    }

    & .logo {
        margin-left: var(--normal);
    }

    & .mainnav {
        margin-right: var(--normal);
    }
}
