.logo-link {
    position: relative;

    display: flex;
    flex-direction: column;
    align-content: center;
    width: calc(10 * var(--normal));
    height: 100%;
    padding: var(--small);

    color: var(--brand-primary);
    text-align: center;

    background-color: var(--brand-secondary-dark);
    border: var(--xsmall) solid var(--brand-secondary);
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;

    transform: all ease-in-out 0.5s;

    &:hover {
        color: var(--brand-primary-light);
        text-decoration: none;
    }
}

.logo-link::before,
.logo-link::after {
    position: absolute;
    top: 0;

    display: block;
    width: var(--xlarge);
    height: var(--huge);

    background-color: var(--brand-secondary);

    content: "";
}

.logo-link::before {
    left: var(--negative-xlarge);
}

.logo-link::after {
    right: var(--negative-xlarge);
}

.logo-gfx {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100%;
    height: 0;

    background-color: var(--brand-secondary-dark);
    border-radius: 0 0 var(--small) var(--small);
    transform: all ease-in-out 0.5s;
}

.logo-inner,
.logo-slogan {
    z-index: 1;
}

.logo-inner {
    font-weight: bold;
}

.logo-slogan {
    height: 0;
    overflow: hidden;

    /* stylelint-disable sh-waqar/declaration-use-variable */
    font-family: Kalam, cursive;
    /* stylelint-enable sh-waqar/declaration-use-variable */

    transform: all ease-in-out 0.5s;
}

.herohead {
    & .logo-link {
        height: calc(9 * var(--normal));

        background-color: var(--brand-secondary);
        border-bottom-width: var(--xsmall);
        border-radius: 0 0 var(--small) var(--small);
        box-shadow: var(--base-shadow);
    }

    & .logo-gfx {
        height: 100%;
    }

    & .logo-slogan {
        height: auto;
    }
}
