@custom-media --MediaSmallWidth (min-width: 320px);
@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

.mainnav {
    z-index: 1;
}

.mainnav-inner {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    list-style: none;

    @media (--MediaLargeWidth) {
        flex-direction: row;
    }

    & > :first-child {
        display: none;
    }

    & > :last-child {
        margin-right: var(--negative-xsmall);

        border-radius: 0 0 var(--xsmall) var(--xsmall);
        box-shadow: var(--base-shadow);

        @media (--MediaLargeWidth) {
            box-shadow: none;
        }
    }
}

.mainnav-item {
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: var(--brand-secondary);
}

.mainnav-link {
    display: inline-flex;
    height: var(--huge);
    padding: var(--xsmall);

    color: var(--brand-primary);

    line-height: var(--xxlarge);

    &:hover {
        color: var(--brand-prmary-light);
    }
}

.mainnav-toggle-input {
    display: none;
}

.mainnav-toggle {
    position: absolute;
    right: 0;

    @media (--MediaLargeWidth) {
        display: none;
    }
}

.subnav-inner {
    padding: 0;
}

.subnav-item {
    padding: 0;
}
