@custom-media --MediaSmallWidth (min-width: 320px);
@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

body {
    padding-top: var(--huge);
    padding-bottom: var(--xlarge);
}

main .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: var(--mediamax);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--normal);
    padding-left: var(--normal);

    & > article {
        width: 100%;

        margin-top: calc(7 * var(--normal));
        padding: var(--normal) var(--small);

        background-color: var(--brand-secondary-dark);
        border-radius: var(--xsmall);
    }

    & .sidebar {
        margin-top: calc(7 * var(--normal));
        padding-top: var(--xlarge);
        padding-right: var(--normal);
        padding-bottom: 0;
        padding-left: var(--normal);

        background-color: var(--brand-secondary-dark);
        border-radius: var(--xsmall);
    }
}

@media (--MediaLargeWidth) {
    #content .content-wrapper {
        flex-direction: row;

        & > article {
            width: calc(70% - var(--xsmall));
            max-width: calc(100% - 15 * var(--normal) - var(--xsmall));
        }

        & .sidebar {
            width: calc(30% - var(--xsmall));
            min-width: calc(15 * var(--normal) - var(--xsmall));
        }
    }
}

@media (--MediaHugeWidth) {
    #content .content-wrapper {
        padding-right: var(--large);
        padding-left: calc(var(--xxlarge) + var(--xsmall));
    }
}
