.dark-mode-toggle {
    position: fixed;
    right: var(--normal);
    bottom: var(--normal);
    z-index: 100;

    width: var(--xxlarge);
    height: var(--xxlarge);
    padding: var(--xxsmall);

    color: inherit;

    background: var(--body-bg);
    border: var(--tiny) solid currentColor;
    border-radius: var(--xxsmall);
    cursor: pointer;

    &:focus {
        color: var(--brand-primary);

        outline: none;
    }

    & svg {
        object-fit: cover;
    }
}

:root {
    &.darkmode {
        --brand-secondary: hsl(10, 30%, 20%);
        --brand-secondary-light: hsl(10, 20%, 30%);
        --brand-secondary-dark: hsl(10, 35%, 5%);
        --brand-secondary-25: hsla(10, 30%, 20%, 25%);
        --brand-secondary-50: hsla(10, 30%, 20%, 50%);
        --brand-secondary-75: hsla(10, 30%, 20%, 75%);
        --brand-primary: hsl(15, 15%, 80%);
        --brand-primary-light: hsl(15, 20%, 90%);
        --brand-primary-dark: hsl(15, 20%, 75%);
        --brand-primary-25: hsla(15, 15%, 80%, 25%);
        --brand-primary-50: hsla(15, 15%, 80%, 50%);
        --brand-primary-75: hsla(15, 15%, 80%, 75%);

        --link-color: var(--white);
        --link-hover-color: var(--white-75);

        & .logo-link {
            background-color: var(--brand-secondary-light);
        }

        & .logo-gfx {
            background-color: var(--brand-secondary-light);
        }

        & .hero {
            color: var(--white);

            &::before {
                mix-blend-mode: darken;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --brand-secondary: hsl(10, 30%, 20%);
        --brand-secondary-light: hsl(10, 20%, 30%);
        --brand-secondary-dark: hsl(10, 40%, 10%);
        --brand-secondary-25: hsla(10, 30%, 20%, 25%);
        --brand-secondary-50: hsla(10, 30%, 20%, 50%);
        --brand-secondary-75: hsla(10, 30%, 20%, 75%);
        --brand-primary: hsl(15, 15%, 80%);
        --brand-primary-light: hsl(15, 20%, 90%);
        --brand-primary-dark: hsl(15, 20%, 75%);
        --brand-primary-25: hsla(15, 15%, 80%, 25%);
        --brand-primary-50: hsla(15, 15%, 80%, 50%);
        --brand-primary-75: hsla(15, 15%, 80%, 75%);
        --link-color: var(--white);
        --link-hover-color: var(--white-75);

        & .logo-link {
            background-color: var(--brand-secondary-light);
        }

        & .logo-gfx {
            background-color: var(--brand-secondary-light);
        }

        & .hero {
            color: var(--white);

            &::before {
                mix-blend-mode: darken;
            }
        }

        &.darkmode {
            --brand-primary: hsl(10, 30%, 20%);
            --brand-primary-light: hsl(10, 20%, 30%);
            --brand-primary-dark: hsl(10, 40%, 10%);
            --brand-primary-25: hsla(10, 30%, 20%, 25%);
            --brand-primary-50: hsla(10, 30%, 20%, 50%);
            --brand-primary-75: hsla(10, 30%, 20%, 75%);
            --brand-secondary: hsl(15, 15%, 80%);
            --brand-secondary-light: hsl(15, 20%, 90%);
            --brand-secondary-dark: hsl(15, 20%, 75%);
            --brand-secondary-25: hsla(15, 15%, 80%, 25%);
            --brand-secondary-50: hsla(15, 15%, 80%, 50%);
            --brand-secondary-75: hsla(15, 15%, 80%, 75%);
            --link-color: var(--black);
            --link-hover-color: var(--black-75);

            & .logo-link {
                background-color: var(--brand-secondary-dark);
            }

            & .logo-gfx {
                background-color: var(--brand-secondary-dark);
            }

            & .hero {
                color: var(--black);

                &::before {
                    mix-blend-mode: lighten;
                }
            }
        }
    }
}
