<!DOCTYPE html>
<html lang="de" class="no-js">
    <head>
        {% block htmlhead %}
            {% include 'partials/html-header.html.twig' %}
        {% endblock htmlhead %}
    </head>

    <body class="{% block bodyclass %}is-page{% endblock %}">
        {% include 'partials/site-header.html.twig' %}

        {% block contentwrapper %}
            <main id="content" role="main">
                <div class="content-wrapper">
                    <article class="content-innner">
                        {% block content %}
                            <h1 class="page-title">{{ page.title }}</h1>
                            {{ page.content }}
                        {% endblock %}
                    </article>
                    {% include 'partials/site-sidebar.html.twig' %}
                </div>
            </main>
        {% endblock %}
        {% include 'partials/site-footer.html.twig' %}</body>
</html>
